<div class="container">
    <div class="login">
            <i class="bi bi-person-badge"id="icon"></i>
            <br>
        <h2>Log in</h2>
        <form #formLogin="ngForm" class="login-container" (ngSubmit)="onLogin(formLogin)">
            <p>
                <input type="userName" name="text" class="form-control" [(ngModel)]="user.userName" placeholder="userName" ngModel required>
            </p>
            <p>
                <input type="password" name="password" class="form-control" [(ngModel)]="user.password" placeholder="Password" ngModel required>
            </p>
            <p>
                <input type="submit" class="form-control btn btn-primary" value="Log in">
            </p>
        </form>
    </div>
</div>