.login{
  margin: 0px auto;
  text-align: center;
  padding: 10px;
  width: 40%;
  border-radius: 5px;
  margin-top: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#icon{
  font-size: 100px;
}
h2{
  margin-bottom: 10%;
}
input,select{
  margin: 0px auto;
  width: 70%;
}
select{
  background-color: white;
  border-radius: 5px;
  padding: 5px;
}