<div class="container">
    <div class="row" style="justify-content:center">
        <div class="col-4 mt-3">
            <div class="card " align="center">
                <div class="card-header">
                    <div class="card-title">
                        Filter
                    </div>  
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col" style="border-right:1px solid black">
                            <form [formGroup]="dateForm" (ngSubmit)="searchByDates(dateForm)">
                                <label for="dateStart">Date start</label>
                                <input type="date" id="start" name="start" formControlName="startDate" class="form-control"><br>
                                <label for="dateEnd">Date end</label>
                                <input type="date" id="end" name="end" formControlName="endDate" class="form-control"><br>
                                <button type="submit" class="btn btn-success">Search</button>
                            </form>
                        </div>
                        <div class="col">
                            <a class="btn btn-success" [routerLink]="['/ticket-details',startDate,'0']"  routerLinkActive="active">Today</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>