.navbar{
    background-color: #143F6B;
    display: flex;
    padding: 10px;
}

.navbar a, h1, i{
    color:white;
}
.icono{
margin-left: 10px;
padding-bottom: 4px;
}
#icon{
margin-right: 10px;
font-size: 40px;
margin-bottom: 5px;
}
.navbar a:hover{
    color: tomato;
}
.navbar ul {
    list-style:none;
    margin-left: -10px;
}
.navbar ul li{
    margin-bottom: 12px;
}