<div class="container">
    <nav class="navbar navbar-dark bg-dark">
        <a routerLink="/login" class="navbar-brand">Login</a>
        <a routerLink="/register" class="navbar-brand">Register</a>
        <a routerLink="/bills" class="navbar-brand">Bills</a>
        <a routerLink="/kitchen" class="navbar-brand">Kitchen</a>
        <a routerLink="/menu" class="navbar-brand">Menu</a>
        <a routerLink="/orders" class="navbar-brand">Orders</a>
        <a routerLink="/products" class="navbar-brand">Products</a>
        <a routerLink="/stock" class="navbar-brand">Stock</a>
        <a routerLink="/tables" class="navbar-brand">Tables</a>
        <a routerLink="/tickets" class="navbar-brand">Tickets</a>
        <a routerLink="/users" class="navbar-brand">Users</a>
    </nav>
</div>