<div class="row">
    <h1 style="text-align:center; margin-bottom: 2%;">Administration of tables</h1>
        <div class="row" align="center">
            <div class="col-8" style="margin:0px auto">
                <div class="card bg-light mt-3" align="center">
                    <div class="card-header">
                        <h5 class="card-title">Create Table</h5>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="tablesForm" (ngSubmit)="addTable(tablesForm)">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="name" style="float:left">Table name</label>
                                        <input type="text" class="form-control" formControlName="table_name" style="float:left">
                                        <small *ngIf="tablesForm?.get('table_name')?.invalid" class="text-danger" style="float:left">Table name is required</small>
                                    </div>
                                </div>
                                <div class="col">
                                    <br>
                                    <button type="submit" class="btn btn-success" [disabled]="tablesForm.invalid" style="float:left">Create</button> 
                                </div>
                            </div>
                        </form><hr><br>
                        <div class="row">
                            <table class="table">
                                <thead class="thead-light">
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Table name</th>
                                    <th scope="col">Delete</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let table of tables">
                                    <th scope="row">{{table.id}}</th>
                                    <td>{{table.name}}</td>
                                    <td>
                                        <button type="button" class="btn btn-danger" (click)="deleteTable(table.id)"><i class="bi bi-trash"></i></button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>